<h1>Sign up</h1>

<h4><%= flash[:notice] %></h4>

<%= form_for @user do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :password_digest %>
<%= f.text_field :password_digest %>

<%= f.submit %>
<% end %>
